version: '3.8'
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_DB}
    networks:
      - app-network

  flask-app:
    build: ./flask-app
    container_name: flask-app
    ports:
      - "5000:5000"
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      - mongodb
    env_file:
      - .env

  html-app:
    image: nginx:alpine
    container_name: html-app
    volumes:
      - ./html-app:/usr/share/nginx/html:ro
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/index.html:/usr/share/nginx/html/index.html:ro
    depends_on:
      - flask-app
      - html-app
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
